<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
	<camera camera_x="0" camera_y="0"/>
  </renderer>

  <colliders>
    <debug value="false"/>
  </colliders>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <volume lvl="128"/>
  </audio>
  
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <level_1>SceneIndoor.tmx</level_1>
	<level_2>Scene1.tmx</level_2>
  </scene>
  

  <player>
    <file>player.tsx</file>
  </player>
  
  <enemies>
	<enemy_1>gladiator2.tsx</enemy_1>
  </enemies>

</config>